---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";
import { fetchRss, type FetchedArticle } from "../utils/fetchRss";

// Fetch RSS Feeds
const rssFeeds = [
  "https://garden.bradwoods.io/rss.xml",
  "https://www.freecodecamp.org/news/rss/",
  "https://www.smashingmagazine.com/feed/",
  "https://cult.honeypot.io/rss.xml",
  "https://design.org/feed/",
  "https://uxdesign.cc/feed",
  "https://www.akendi.com/blog/feed/",
  // "https://uxwritinghub.com/blog/feed/",
];

const allArticles = await Promise.all(rssFeeds.map(fetchRss));

const articlesBySubject: Record<string, FetchedArticle[]> = {
  Development: [],
  UX: [],
  UI: [],
  Design: [],
  Productivity: [],
  Mobile: [],
  Security: [],
  Other: [],
};

// Sort articles into their respective subjects
allArticles.flat().forEach((article) => {
  const { subject } = article;
  if (articlesBySubject.hasOwnProperty(subject)) {
    articlesBySubject[subject].push(article);
  } else {
    articlesBySubject.Other.push(article);
  }
});
---

<Layout title="Dev's Daily Digest">
  <div class="min-h-screen h-full">
    <Header />
    <!-- Main Content -->

    <main
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 md:p-2 pb-80"
    >
      <!-- Contect Section by Type -->
      {
        Object.entries(articlesBySubject).map(
          ([subject, articles]) =>
            articles.length > 0 && (
              <section class="text-black">
                <h2 class="text-2xl font-bold mb-4 text-center ">{subject}</h2>
                {articles.map((article) => (
                  <Article
                    title={article.title}
                    author={article.author}
                    body={article.content}
                    href={article.link}
                    postedDate={article.publishedDate}
                    source={article.source}
                  />
                ))}
              </section>
            )
        )
      }
    </main>
  </div>
</Layout>
